/*!
 Theme Name:   WebDev Dani
 Theme URI:    http://localhost:8888/daniwebdev
 Description:  SoSimple Child Theme
 Author:       Danielle Alexis
 Author URI:   http://localhost:8888/
 Template:     sosimple
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  sosimple-child
*/

/*
Compiling command:
//stylus -c  wp-content/themes/sosimple-child
*/

$color = #49ee3f

h1
    color $color !important