/*!
 Theme Name:   WebDev Dani
 Theme URI:    http://localhost:8888/daniwebdev
 Description:  SoSimple Child Theme
 Author:       Danielle Alexis
 Author URI:   http://localhost:8888/
 Template:     sosimple
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  sosimple-child
*/

/*
Compiling commands:
//stylus -c  wp-content/themes/sosimple-child
//stylus -w  wp-content/themes/sosimple-child
*/

$color = #49ee3f
$highlight = #9F6B78
$borderColor = #EEEEEE


h1
    color $highlight !important
ul
    list-style none
    margin 0

body
    background-color #ffffff



////Header
.site-header
    padding-bottom 0
.site-branding
    > *
        display inline-block
    hgroup
        height 56px
        vertical-align top
        width 250px
        .site-title
            line-height @height
.navatar
    max-width 76px
    max-height @max-width
    margin-top -10px
.header-side
    width calc(50% - 130px)
    &.left
        border-right 3px solid $borderColor
    &.right
        border-left 3px solid $borderColor
    ul //header-side
        &.header-side-top
            border-bottom 3px solid $borderColor
        li.header-side-item
            display inline-block
            padding-left 1em


.main-navigation
    padding-top 0
.main-navigation
.site-header
    border-color $borderColor
