/*!
 Theme Name:   Themify Child
 Theme URI:    http://localhost:8888/daniwebdev
 Description:  Themify Child Theme
 Author:       Danielle Alexis
 Author URI:   http://localhost:8888/
 Template:     themify
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  themify-child
*/

/*
Compiling commands:
//stylus -c  wp-content/themes/sosimple-child
//stylus -w  wp-content/themes/sosimple-child
*/

$highlight = #9F6B78
$borderColor = #EEEEEE

